@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.container ul,
.container li,
.container p {
  margin: 0;
  padding: 0;
}

.container li {
  list-style: none;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container input {
  outline: none;
  -moz-appearance: textfield;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  background-color: #f9f8f7;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.order-cont {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-cont .sub-title {
  font-size: 18px;
  font-weight: bold;
  color: #525150;
}

.restaurant-title {
  margin: 0;
  color: #252323;
  padding-bottom: 24px;
}

.ship-method {
  display: flex;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 3px solid #f4f2ef;
}

.title {
  padding-right: 48px;
  font-size: 16px;
}

.ship-items {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ship-item {
  display: flex;
  gap: 12px;
  text-align: start;
  padding-bottom: 16px;
}

.ship-item i {
  align-self: center;
  font-size: 22px;
  color: #252323;
}

.desc-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desc-cont input[type="text"] {
  border: none;
  max-width: 300px;
  font-size: 16px;
  padding: 6px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  letter-spacing: 1.1px;
}
.desc-cont input[type="text"]:focus {
  border: 1px solid rgb(184, 182, 182);
}

.desc-cont input[type="text"]:nth-child(2) {
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #525150;
}

.edit-btn,
.save-btn {
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 16px;
  cursor: pointer;
  font-weight: 600;
}

.save-btn {
  background-color: black;
  color: white;
}

.receiver-info {
  display: flex;
  width: 100%;
  padding: 24px 0 24px 0;
  border-bottom: 3px solid #f4f2ef;
}

.reciver-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 12px;
  padding-top: 24px;
}

.input-cont {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input-cont label {
  padding: 2px;
  color: #525150;
  font-weight: 600;
}

.input-cont input {
  padding: 16px 12px;
  border-radius: 2px;
  border: 1px solid #b1b1b1;
}

.payment-cont {
  width: 100%;
  display: flex;
  padding: 24px 0 24px 0;
  border-bottom: 3px solid #f4f2ef;
}

.paymet-methods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.secure-icon {
  align-self: flex-end;
  color: #9ca4ac;
  font-size: 12px;
}

.payment-item {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 18px;
}

.radio-input {
  -webkit-appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #444243;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.radio-input:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #444243;
  border-radius: 50%;
}
.payment-title {
  font-weight: 600;
}

.card-holder {
  width: 70%;
  margin: 0 auto;
  background-color: #10141e;
  border-radius: 12px;
}

.card-icons {
  display: flex;
  justify-content: space-between;
}
.card-icons img {
  width: 40px;
  padding: 24px;
  object-fit: contain;
}
.card-number,
.card-holder {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.card-number label,
.name-input label {
  color: #474b69;
  font-size: 18px;
  font-weight: 600;
  padding-left: 24px;
}
.card-number input,
.card-holder input {
  max-width: fit-content;
  font-size: 18px;
  margin: 0px 0px 24px 24px;
  padding: 6px 0px;
}
.date-secret {
  display: flex;
  gap: 24px;
  padding-left: 24px;
}
.date-secret input {
  max-width: 30px;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  align-self: center;
}
.card-date,
.card-cvv {
  color: #474b69;
  font-weight: 600;
  display: flex;
  margin: 0px 0px 12px 0;
}
.card-date span,
.card-cvv label {
  padding: 0 6px 0 6px;
  font-size: 18px;
}
.card-date label span {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.card-date input,
.card-cvv input {
  margin-left: 0;
}

.card-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.name-input {
  display: flex;
  flex-direction: column;
}
.name-input label {
  color: #474b69;
}
.name-input input {
  max-width: 350px;
}
.promo-code-cont {
  display: flex;
  flex-direction: column;
}

.promo-code-cont input {
  margin-top: 6px;
  padding: 6px;
}

.promo-code-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.order-info {
  width: 100%;
  display: flex;
  padding: 24px 0 24px 0;
}

.items-cont {
  width: 100%;
}

.order-item {
  display: flex;
  gap: 24px;
  width: 100%;
  color: #4d4d4d;
}

.container ul {
  padding-top: 24px;
}

.qty-count {
  padding: 6px;
  background-color: white;
  border-radius: 50%;
  height: fit-content;
  color: #4d4d4d;
}

.item-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  text-align: start;
}

.action-btns button {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #525150;
  margin-right: 12px;
  cursor: pointer;
  color: #4d4d4d;
}

.price {
  position: relative;
  right: 0;
}

.finish-order {
  background-color: #f5f4f3;
}

.finish-order .content {
  width: 80%;
  margin: 0 auto;
  padding-top: 48px;
}

.finish-btn {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #413f3e;
}

.discount-cont {
  display: flex;
  justify-content: space-between;
}

.tip-btn {
  padding: 10px;
  background-color: #e5e3e2;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  width: 15%;
  cursor: pointer;
}

.active-btn {
  background-color: black;
  color: white;
}


.total-sum {
  color: black;
  font-weight: bold;
  padding-top: 24px;
}
.mastercard {
  padding-right: 12px;
}

@media screen and (max-width: 1324px) {
  .container {
    width: 100%;
    padding: 24px 0;
  }

  .discount-cont {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .tip-btn {
    width: 100%;
  }

  .discount-cont input {
    padding: 10px 0;
  }

  .ship-method,
  .receiver-info,
  .payment-cont,
  .ship-item {
    flex-direction: column;
  }

  .ship-item input[type="text"] {
    max-width: 100%;
  }

  .reciver-cont {
    display: flex;
    flex-direction: column;
  }
  .card-number {
    display: flex;
  }
  .card-number input {
    width: 100%;
  }
  .card-number {
    margin: 0 auto;
  }
  .card-name {
    flex-direction: column;
    margin: 0 auto;
  }
  .card-name,
  .date-secret,
  .card-number {
    justify-content: center;
  }
  .mastercard {
    margin: 0 auto;
    max-width: fit-content;
    padding-right: 12px;
  }
}

@media screen and (max-width: 769px) {
  .container,
  .order-info {
    display: flex;
    flex-direction: column;
  }

  .price {
    align-self: center;
    font-weight: 800;
  }

  .finish-order .content {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 24px;
  }

  .finish-btn {
    margin-top: 24px;
  }

  .desc-cont {
    gap: 12px;
  }

  .card-number input,
  .name-input input {
    margin: 0;
    margin: 12px 6px;
  }
  .card-holder {
    display: grid;
    grid-template-columns: 1fr;
  }
  .date-secret {
    padding-left: 0;
    gap: 0;
  }
}
@media screen and (max-width: 420px) {
  .card-number input,
  .name-input input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .date-secret {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 12px;
    gap: 12px;
  }
  .price{
    position: absolute;
  }
}
